@import '@assets/styles/colors';
@import '@assets/styles/fonts';

.product-item {
  display: flex;
  justify-content: space-between;

  &__info {
    display: flex;
  }

  &__thumbnail {
    margin-right: 1.6rem;
    width: 18rem;
    height: 18rem;
    border-radius: 4px;
    cursor: pointer;
  }

  &__price {
    .price__label {
      cursor: pointer;
    }
  }

  &__price-description {
    padding-top: 2.5rem;
    font-size: $size-medium;
    width: 60rem;
  }

  &__description {
    padding-top: 1.2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
  }

  &__city-name {
    padding: 3rem 3rem 0 0;
    width: fit-content;
    text-align: end;
    font-size: $size-small;
  }
}
