@import '@assets/styles/colors';
@import '@assets/styles/fonts';

.nav-breadcrumb {
  display: flex;
  list-style-type: none;
  padding-block: 1.6rem;
  font-size: $size-small;

  /** TODO: Improve ellipsis */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  li {
    span {
      color: $gray-1;
      padding-right: 0.5rem;

      &:nth-child(2) {
        font-family: $font-secondary;
        position: relative;
        bottom: 1px;
      }
    }

    &:last-child {
      font-weight: 600;
    }
  }
}
