@import '@assets/styles/components';
@import '@assets/styles/colors';
@import '@assets/styles/fonts';

.show-case {
  @include card-page;
  padding: 1.6rem;

  &--empty-top {
    @include empty-top;
  }

  hr {
    border: none;
    background-color: transparent;
    border-top: 2px solid rgba($gray-2, 0.2);
    margin-block: 1.6rem;
    padding-inline: 1rem;
    align-self: center;
    width: 98%;
  }

  &__product-item-container {
    display: flex;
    flex-direction: column;
  }
}
